

.ll-tog {
  display: block;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem; 
  color: #DEC20B;
  width: 320px;
  background: rgba(36, 39, 44, 0.64);
  border: 1px solid;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.ll-tog:hover {
  color: #B58B00;
}

.bro:hover {
  color: #B58B00;
   transition: all 0.25s ease-out;
}



.bro {
  text-decoration: none;
   transition: all 0.25s ease-out;
  color: #DEC20B;
  position: absolute;
  font-family: MedievalSharp;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cont {
  position: relative;
  text-align: top;
  color: white;

}


.icons2 {
  width: 318px;
  height: 65px;
  vertical-align: middle;
  border-radius: 6.4px;
  transition: all 0.25s ease-out;
}
